<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIH-dkyoFzk61yct5QSy4qcQ2nB9d4WBY</string>
	<key>GCM_SENDER_ID</key>
	<string>949920909206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DesktopSystem</string>
	<key>PROJECT_ID</key>
	<string>desktopsystem-40436</string>
	<key>STORAGE_BUCKET</key>
	<string>desktopsystem-40436.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949920909206:ios:1906af6c93c2bc6d193fb7</string>
	<key>DATABASE_URL</key>
	<string>https://desktopsystem-40436-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>